<div class="container" style="margin-top: 40px; text-align: justify">
  <h1 style="color: white; text-align: justify">HUKUKSAL / DMCA</h1>
  <p style="color: white; text-align: justify">
    neizlesen.com, 5651 sayılı yasanın 5. maddesinde tanımlanan yer
    sağlayıcı olarak hizmet vermektedir. İlgili yasaya göre, web site
    yönetiminin hukuka aykırı içerikleri kontrol etme yükümlülüğü yoktur. Bu
    sebeple, sitemiz uyar ve kaldır prensibini benimsemiştir. Telif hakkına konu
    olan eserlerin yasal olmayan bir biçimde paylaşıldığını ve yasal haklarının
    çiğnendiğini düşünen hak sahipleri veya meslek birlikleri,
    fullhdfilmizlesene@proton.me mail adresinden bize ulaşabilirler. Buraya
    ulaşan talep ve şikayetler hukuksal olarak incelenecek, şikayet yerinde
    görüldüğü takdirde, ihlal olduğu düşünülen içerikler sitemizden
    kaldırılacaktır.
  </p>
  <h4  style="color: white; text-align: justify">İlgili Yasa:</h4>
  <p  style="color: white; text-align: justify">
    MADDE 5 (1) Yer sağlayıcı, yer sağladığı içeriği kontrol etmek veya hukuka
    aykırı bir faaliyetin söz konusu olup olmadığını araştırmakla yükümlü
    değildir.
  </p>
  <p  style="color: white; text-align: justify">(2) Yer sağlayıcı, yer sağladığı hukuka aykırı içerikten, ceza sorumluluğu ile ilgili hükümler saklı kalmak kaydıyla, bu Kanunun 8 inci ve 9 uncu maddelerine göre haberdar edilmesi halinde ve teknik olarak imkân bulunduğu ölçüde hukuka aykırı içeriği yayından kaldırmakla yükümlüdür.</p>
  <h4  style="color: white; text-align: justify">English translation:</h4>
  <p  style="color: white; text-align: justify">
    All the videos that are involved in our website are added from general video websites like vk.com, mail.ru, etc. For productions whose copyright belongs to you, as long as you make a notice to fullhdfilmizlesene@proton.me email address, relevant production will be removed in 3 workday from our.
  </p>
  <a href="mailto:omerfarukbenli@hotmail.com">İletişim ve Telif Hakları Bildirimi İçin</a>
  <br>
 <button routerLink="/" class="btn btn-primary">Ana Sayfaya Dönün</button>
</div>



