
    <div class="banner">


      <div class="content" *ngIf="seri">
<p style="font-size: 30px;">{{seri.name}}</p>
          <h4>
              <span>{{seri.year}}</span>
              <span><i>{{seri.age}}+</i></span>

              <span>{{seri.category}}</span>
              <span>{{seri.minute}}&nbsp;dk.</span>
          </h4>
          <div style="text-align: center;">
<img src="{{seri.url}}" style="width: 300px;">
</div>
          <p style="text-align: justify;">
              {{seri.explane}}
          </p>

          <div class="refer">
              <span class="cast"><b class="start">Starting : &nbsp;</b>{{seri.starring}}</span>
              <span class="creator"><b class="start">Creators : &nbsp;</b>{{seri.creators}}</span>
              <p style="font-size: 10px;">
                Resim Kaynak: &nbsp;{{ seri.pictureSource }}
            </p>
            <p style="font-size: 10px;">
              Film Konu Özeti Kaynak: &nbsp;{{ seri.textMovieSource }}
          </p>
          </div>

          <div class="buttons">
              <a href="{{seri.trailer}}">Fragman</a>

              <a href="/seri1" style="background-color: blue; ">Bütün Seri Fİlmlere Dön</a>

          </div>
          <br>
          <br>
      </div>


  </div>

