
    <div class="banner">


      <div class="content" *ngIf="hollywood">
<p style="font-size: 30px;">{{hollywood.name}}</p>
          <h4>
              <span>{{hollywood.year}}</span>
              <span><i>{{hollywood.age}}+</i></span>
              <span>{{hollywood.category}}</span>
              <span>{{hollywood.minute}}&nbsp;dk.</span>
          </h4>
          <div style="text-align: center;">
<img src="{{hollywood.url}}" style="width: 300px;">
</div>
          <p style="text-align: justify;">
              {{hollywood.explane}}
          </p>

          <div class="refer">
              <span class="cast"><b class="start">Starting : &nbsp;</b>{{hollywood.starring}}</span>
              <span class="creator"><b class="start">Creators : &nbsp;</b>{{hollywood.creators}}</span>
              <p style="font-size: 10px;">
                Resim Kaynak: &nbsp;{{ hollywood.pictureSource }}
            </p>
            <p style="font-size: 10px;">
              Film Konu Özeti Kaynak: &nbsp;{{ hollywood.textMovieSource }}
          </p>
          </div>

          <div class="buttons">
              <a href="{{hollywood.trailer}}">Fragman</a>

              <a href="/hollywood1" style="background-color: blue; ">Bütün Hollywood Fİlmlerİne Dön</a>

          </div>
          <br>
      <br>
      </div>


  </div>

