
<button style="text-align: left; margin-top: 20px; margin-left: 180px;" style="text-align: left; margin-top: 20px; margin-left: 180px;" routerLink="/" class="btn btn-primary">Ana Sayfaya Geri Dönün</button>
<div class="container"  style="text-align: initial; padding-left: 140px;"  >

  <div class="row"  >
  <div class="card" style="width: 16rem;  margin-right: 10px; margin-top: 20px; " *ngFor="let cnt of olmedens">
    <img class="card-img-top" src="{{cnt.url}}" [routerLink]="['/olmeden2', cnt.id]"  alt="Card image cap">
    <div class="card-body">
      <h5 class="card-text" style="text-align: center; color: rgb(190, 183, 174);">{{cnt.name}}</h5>
      <p class="card-text" style="text-align: center;  color: rgb(179, 170, 158);">{{cnt.category}}</p>
    </div>
  </div>
  </div>
  </div>

